<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Пользователи</h1>
        <select name="" id="" class="select">

        </select>
        <script>
            // let response=fetch('http://localhost/cringeProject/cringeApiTwo2/user');
            // let json=response.then((result)=>result.json())
            // let text=json.then((data)=>console.log(data))
            let select=document.querySelector('.select')
            fetch('http://localhost/cringeProject/cringeApiTwo2/user')
            .then((e)=>e.json())
            .then((data)=>{
                data['user'].forEach(element => {
                    select.innerHTML+= '<option value="'+element['name']+'">'+element['name']+'</option>'
                });
            })
        </script>
        <a href="http://localhost/cringeProject/cringeApi2/">Вернуться на главную</a>
    </body>
</html>